#user-card {
  img {
    width: 100px;
    height: 100px;
  }
}

#nav-notifcation-list {
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 10px;
  max-height: 500px;
  img.profile-picture {
    width: 2.5em;
    height: 2.5em;
  }
}

#user-actions {
  .ui.card {
    width: 350px;
  }
}

#user-box {
  padding: 5px 20px 2px 0px;
  img.image {
    width: 32px;
    height: 32px;
  }
}

#notifs-button {
  margin: 1px 0px 0px 0px;
  div.button {
    padding: 10px !important;
  }
}

#nav-search {
  margin: 3px 0px 0px 0px;
}

#nav-home {
  padding: 4px 0 0 0;
  margin: 0 20px;
  img {
    max-width: inherit;
    width: 32px;
    height: 32px;
  }
}
