#nav-avatar {
  padding-top: 8px;
  padding-bottom: 8px;
  .avatar {
    width: 1.5em;
    height: 1.5em;
    img {
      width: 1.5em;
      height: 1.5em;
    }
  }
}

#nav-notifcation-list {
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 10px;
  max-height: 500px;
  img.profile-picture {
    width: 2.5em;
    height: 2.5em;
  }
}
