#message-feed {
  .ui.card {
    width: 100%
  }
}

#startup-description {
  .header {
    margin-bottom: 6px;
  }
  .meta {
    color: rgba(0, 0, 0, .4);
    padding-bottom: 20px;
  }
  #startup-handles {
    background-color: #F9F9FA;
  }

  .segment {
    border: none;
  }

  #startup-logo {
    width: 200px;
    display: inline;
  }
}

