@import "navigation";
@import "auth";
@import "search";

body {
	a:hover {
		color: #BF5700 !important;
	}
  background-color: #F2F2F2;
}

.university-title {
	margin-top: -3px;
}

#bevo_icon {
	float: left;
	margin-right: 10px;

}

.cssDimmer {
  .dimmer {
    opacity: 0.0 !important;

    -webkit-transition: all 0.2s linear !important;
    -moz-transition: all 0.2s linear !important;
    -ms-transition: all 0.2s linear !important;
    -o-transition: all 0.2s linear !important;
    transition: all 0.2s linear !important;
  }
}

.cssDimmer:hover {
  .dimmer {
    opacity: 1.0 !important;
  }
}

main {
  padding-top: 45px;
}

.bull { 
  background-image: url(../img/longhorn.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  overflow: hidden;
}

.editable-item-container {
  position: relative;
  .close {
    visibility: hidden;
    position: absolute;
    top: 0px;
    right: 0px;
  }
}

.editable-item-container:hover {
  position: relative;
  background-color: rgba(180, 180, 180, 0.15);
}

.editable-item-container:hover > .close {
    visibility: visible;
    position: absolute;
    top: 0px;
    right: 0px;
}

.search-list {
	.item {
		vertical-align: top;
      padding-bottom: 20px;
	}

	.card {
		position: relative;
		width: 100%;
	}

	.description {
		text-align: left;
	}

	.name-header {
		position: absolute;
		left: 90px;
		top: 0px;
		padding: 10px;
		text-align: left;
	}
}

.horizontal-list {
	.item {
		display: inline-block !important;
		vertical-align: top !important;
		margin: 10px 0px !important;
		width: 230px !important;
		height: 30px !important;
	}
}

.virtual-resume-segment {
	.label {
		background-color: #e3c5ac !important;
	}
}

.project-segment-people {
	margin: 2px 0px;
	.mini-header {
		color: gray;
		margin-top: 2px;
	}
}