@import "navigation";
@import "auth";
@import "search";
@import "startups";

body {
	a:hover {
		color: #BF5700 !important;
	}
  background-color: #F2F2F2;
}

.university-title {
	margin-top: -3px;
}

#bevo_icon {
	float: left;
	margin-right: 10px;

}

.cssDimmer {
  .dimmer {
    opacity: 0.0 !important;

    -webkit-transition: all 0.2s linear !important;
    -moz-transition: all 0.2s linear !important;
    -ms-transition: all 0.2s linear !important;
    -o-transition: all 0.2s linear !important;
    transition: all 0.2s linear !important;
  }
}

.cssDimmer:hover {
  .dimmer {
    opacity: 1.0 !important;
  }
}

main {
  padding-top: 45px;
}

.bull { 
  background-image: url(../img/longhorn.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  overflow: hidden;
}

.editable-item-container {
  position: relative;
  .close {
    visibility: hidden;
    position: absolute;
    top: 0px;
    right: 0px;
  }
}

.editable-item-container:hover {
  position: relative;
  background-color: rgba(180, 180, 180, 0.15);
}

.editable-item-container:hover > .close {
    visibility: visible;
    position: absolute;
    top: 0px;
    right: 0px;
}

.horizontal-list {
	.item {
		display: inline-block !important;
		vertical-align: top !important;
		margin: 10px 0px !important;
		width: 230px !important;
		height: 30px !important;
	}
}

.skill-tags {
	line-height: 30px;
	.label {
		background-color: #e3c5ac !important;
	}
}

.project-segment-people {
	margin: 2px 0px;
	.mini-header {
		color: gray;
		margin-top: 2px;
	}
}

.user-details {
	.base-content {
		margin: 10px;
	}

	.first-level-item {
		margin: 20px 0px;
	}

	.label {
		background-color: #E3904B;
	}
}

.editable-text {
	display: block;
	input {
		width: 85%;
	}
	i {
		float: right;
	}
}

.editable-text:hover {
	cursor: pointer;
	background-color: rgba(227, 144, 75, 0.3);
}

.editable-item {
	position: relative;
	.editables .editable-text {
		padding-right: 40px;
	}

	.item-remove {
		display: none;
		position: absolute;
		right: 0px;
		top: 0px;
	}

	.item-remove:hover {
		cursor: pointer;
	}
}

.editable-item:hover {
	background-color: rgba(227, 144, 75, 0.3);

	.item-remove {
		display: inline;
		position: absolute;
		right: 0px;
		top: 0px;
	}
}

.project-detail {
	width: 100%;
}

.project-date {
	margin: 4px 0px;
	color: gray;
}

.filter-search-input {
	float: right;
}

.contact-button {
	padding: 15px 20px !important;
}

.connected-icon {
	display: inline !important;
	color: #5bbd72;
	font-size: 80% !important;
}


.editable-image {
	width: 100% !important;
}

.stacked-text-input {
	width: 100%;
	display: block;
	margin-bottom: 7px;
}
