.university-title {
	margin-top: -3px;
}

#bevo_icon {
	float: left;
	margin-right: 10px;

}

#auth-segment {
    max-width: 650px;
}

.socialSignInForm {
  .button {
    width: 100%;
  }
}

.cssDimmer {
  .dimmer {
    opacity: 0.0 !important;

    -webkit-transition: all 0.2s linear !important;
    -moz-transition: all 0.2s linear !important;
    -ms-transition: all 0.2s linear !important;
    -o-transition: all 0.2s linear !important;
    transition: all 0.2s linear !important;
  }
}

.cssDimmer:hover {
  .dimmer {
    opacity: 1.0 !important;
  }
}

main {
  padding-top: 45px;
}

.bull { 
  background-image: url(../img/longhorn.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  overflow: hidden;
}

.ad {
  width: 100%;
}

.editable-item-container {
  position: relative;
  .close {
    visibility: hidden;
    position: absolute;
    top: 0px;
    right: 0px;
  }
}


.editable-item-container:hover {
  position: relative;
  background-color: rgba(180, 180, 180, 0.15);
}

.editable-item-container:hover > .close {
    visibility: visible;
    position: absolute;
    top: 0px;
    right: 0px;
}
